__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/
logs/
*.log

pesquisa_v5/v5_dataset*/
pesquisa_v5/v5_pipeline/

pesquisa_v6/v6_dataset*/
pesquisa_v6/v6_pipeline/
pesquisa_v6/experiments/

*.pt
*.pth
*.ckpt
*.h5

trash/
.DS_Store
Thumbs.db
.vscode/
